.nav-menu-open {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
}

.nav-menu-open a {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
}
.profile-box-icon {
  position: relative;
  margin: 0 0.5rem;
  height: 2rem;
  cursor: pointer;
}
.profile-box-icon > img {
  max-height: 90%;
}
.profile-box-unread-amount {
  position: absolute;
  top: -4px;
  right: -4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  background-color: #239C6D;
  font-weight: bold;
  width: 16px;
  font-size: 8px;
  height: 16px;
  border-radius: 50%;
  padding: 3px 7px;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.notifications-overlay-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 26px solid #F6F6F6;
  left: 90%;
  top: -14px;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 52;
}
.notifications-overlay {
  position: absolute;
  max-height: 500px;
  max-width: 550px;
  min-width: 500px;
  top: 130%;
  right: -70%;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  padding: 20px;
  background: #F6F6F6;
  box-sizing: border-box;
  cursor: auto;
  z-index: 55;
}

.profile-box-unread-amount.got-unread {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

@media only screen and (max-width: 620px) {
  .notifications-overlay {
    min-width: auto;
    max-width: initial;
    width: auto;
    position: fixed;
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .notifications-overlay-triangle {
    display: none;
  }
}

.bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    top: 17px;
    left: initial;
    right: 20px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    border-radius: 4px;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 34px;
    width: 34px;
    right: 24px !important;
    top: -1px !important;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #000000;
    height: 24px !important;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 1.7em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    padding-top: 3rem;
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    /* background: rgba(0, 0, 0, 0.3); */
    display: none;
  }
  
  .bm-menu {
    background: white;
  }

  .bm-item-list a {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    color: #444444;
  }

  .menu-item:hover {
    color: #000000;
  }
  .bm-menu-wrap {
    width: 100% !important;
    top: 0px;
  }

  .bm-menu-wrap .bm-menu {
    padding-left: 15px;
  }

  #page-wrap {
      z-index: 9999;
  }
