/* ./assets/stylesheets/index.css */

*{
    outline: none;
}


/* react-datepicker */
.react-datepicker{
    border: 3px solid rgba(156, 149, 135, 0.48);
    background-color: rgba(241, 236, 225, 0.48);
    border-radius: 10px;
    box-sizing: border-box;
}

.react-datepicker__header{
    background-color: unset;
    border-bottom: unset;
}

.react-datepicker__day-name {
  width: 32px;
  margin: 0 4px;
  font-family: 'Messinasans', sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #AAAAAA;
  text-transform: uppercase;
}

.react-datepicker__day{
  width: 32px;
  height: 32px;
  margin: 6px 4px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #C9C9C9;
  letter-spacing: 0.22px;
  text-align: center;
  border-radius: 50%;
}

.react-datepicker__day.react-datepicker__day--highlighted {
  color: #239C6D;
  background: transparent;
}

.react-datepicker__day.react-datepicker__day--highlighted.react-datepicker__day--selected {
  color: #fff;
  background: #239C6D;
}

.react-datepicker__day--highlighted, .react-datepicker__month-text--highlighted, .react-datepicker__quarter-text--highlighted, .react-datepicker__year-text--highlighted{
  color: #239C6D;
  background: transparent;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  background: transparent;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover{
    background: #239C6D;
    color: #fff;
    border-radius: 50%;
}

.react-datepicker__day--selected{
    background: #239C6D;
    color: #fff;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover{
    border-radius: 50%;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
    background: #239C6D;
    color: #fff;
}

.react-datepicker__month{
    margin: 8px 17px;
}

.react-datepicker__header{
    padding-top: 22px;
}

.react-datepicker__current-month{
  margin-bottom: 9px;
  font-family: 'Messinasans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1F1F1F;
}

.react-datepicker__navigation {
  width: 7px;
  height: 14px;
  background: url("../images/arrow-left.svg") no-repeat center/contain;
  border: 0;
}

.react-datepicker__navigation:focus {
  outline: none;
}

.react-datepicker__navigation--previous {
    left: 27px;
    top: 24px;
}

.react-datepicker__navigation--next {
    right: 27px;
    top: 24px;
    transform: rotate(180deg);

}

@media (max-width: 350px) {
  .react-datepicker__month {
    margin-left: 10px;
    margin-right: 10px;
  }

  .react-datepicker__day {
    width: 30px;
    height: 30px;
  }
}

.padding-container {
  padding: 0px 15px 0px 15px;
}

@media (min-width: 768px) {
  .padding-container {
    padding: 0 2.5%;
  }
}

@media (min-width: 1280px) {
  .padding-container {
    padding: 0 16px;
  }
}


@media (max-width: 640px) {
  .sm-max-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .md-max-hidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  .lg-max-hidden {
    display: none;
  }
}

@media (max-width: 1280px) {
  .xl-max-hidden {
    display: none;
  }
}

@media (max-width: 1536px) {
  .xl2-max-hidden {
    display: none;
  }
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/IBMPlexSans-Bold.ttf'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans Bold'), local('IBM Plex Sans Bold'),
       url('../../fonts/IBMPlexSans-Bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/IBMPlexSans-Bold.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/IBMPlexSans-Bold.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/IBMPlexSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/IBMPlexSans-Bold.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/IBMPlexSans-Medium.ttf'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans Medium'), local('IBM Plex Sans Medium'),
       url('../../fonts/IBMPlexSans-Medium.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/IBMPlexSans-Medium.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/IBMPlexSans-Medium.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/IBMPlexSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/IBMPlexSans-Medium.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/IBMPlexSans-Regular.ttf'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans Regular'), local('IBM Plex Sans Medium'),
       url('../../fonts/IBMPlexSans-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/IBMPlexSans-Regular.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/IBMPlexSans-Regular.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/IBMPlexSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/IBMPlexSans-Regular.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/IBMPlexSans-SemiBold.ttf'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans SemiBold'), local('IBM Plex Sans SemiBold'),
       url('../../fonts/IBMPlexSans-SemiBold.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/IBMPlexSans-SemiBold.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/IBMPlexSans-SemiBold.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/IBMPlexSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/IBMPlexSans-SemiBold.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Messinasans';
  font-weight: 900;
  font-style: normal;
  src: url('../../fonts/MessinaSans-Black.otf'); /* IE9 Compat Modes */
  src: local('Messina Sans Black'), local('Messina Sans Black'),
       url('../../fonts/MessinaSans-Black.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/MessinaSans-Black.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/MessinaSans-Black.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/MessinaSans-Black.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/MessinaSans-Black.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Messinasans';
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/MessinaSans-Bold.otf'); /* IE9 Compat Modes */
  src: local('Messina Sans Bold'), local('Messina Sans Bold'),
       url('../../fonts/MessinaSans-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/MessinaSans-Bold.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/MessinaSans-Bold.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/MessinaSans-Bold.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/MessinaSans-Bold.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Messinasans';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/MessinaSans-Book.otf'); /* IE9 Compat Modes */
  src: local('Messina Sans Book'), local('Messina Sans Book'),
       url('../../fonts/MessinaSans-Book.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/MessinaSans-Book.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/MessinaSans-Book.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/MessinaSans-Book.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/MessinaSans-Book.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Messinasans';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/MessinaSans-Light.otf'); /* IE9 Compat Modes */
  src: local('Messina Sans Light'), local('Messina Sans Light'),
       url('../../fonts/MessinaSans-Light.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/MessinaSans-Light.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/MessinaSans-Light.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/MessinaSans-Light.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/MessinaSans-Light.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Messinasans';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/MessinaSans-Regular.otf'); /* IE9 Compat Modes */
  src: local('Messina Sans Regular'), local('Messina Sans Regular'),
       url('../../fonts/MessinaSans-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/MessinaSans-Regular.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/MessinaSans-Regular.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/MessinaSans-Regular.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/MessinaSans-Regular.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Messinasans';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/MessinaSans-SemiBold.otf'); /* IE9 Compat Modes */
  src: local('Messina Sans SemiBold'), local('Messina Sans SemiBold'),
       url('../../fonts/MessinaSans-SemiBold.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/MessinaSans-SemiBold.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/MessinaSans-SemiBold.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/MessinaSans-SemiBold.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/MessinaSans-SemiBold.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Cooper';
  font-style: 'sans serif';
  font-weight: 600;
  src: url('../../fonts/CooperBoldBT.ttf'); /* IE9 Compat Modes */
  src: local('Cooper Lt BT Bold'), local('Cooper Lt Bt Bold'),
       url('../../fonts/CooperBoldBT.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/CooperBoldBT.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/CooperBoldBT.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/CooperBoldBT.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/CooperBoldBT.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Cooper';
  font-style: 'sans serif';
  font-weight: 400;
  src: url('../../fonts/CooperLightBT.ttf'); /* IE9 Compat Modes */
  src: local('Cooper Lt BT Light'), local('Cooper Lt Bt Light'),
       url('../../fonts/CooperLightBT.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/CooperLightBT.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/CooperLightBT.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/CooperLightBT.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/CooperLightBT.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Recoleta';
  font-style: 'sans serif';
  font-weight: 600;
  src: url('../../fonts/RecoletaAltBold.otf'); /* IE9 Compat Modes */
  src: local('Recoleta Alt Bold'), local('Recoleta Alt Bold'),
       url('../../fonts/RecoletaAltBold.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/RecoletaAltBold.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/RecoletaAltBold.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/RecoletaAltBold.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/RecoletaAltBold.otf') format('svg'); /* Legacy iOS */
}
/* css animations for loaders */

.loaderClass {
  animation: loader 1s infinite ease-in-out;
  -webkit-animation: loader 1s infinite ease-in-out;
}

.webkitFillAvalible{
  width: -webkit-fill-available;
}

/* Onboarding UI Update */

.page-content {
  display: flex;
  justify-content: center;
}

.page-routing {
  max-width: 1440px;
  width: 100%;
}

.onboarding-continue {
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
  height: 75px;
}

select.w-full{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 4px;
  margin-top: 10px;
}
nav{
  max-width: 1440px;
  width: 100%;
}
.foodCardDesc{
  min-height: 100px;
}
