/* ./assets/stylesheets/index.css */

*{
    outline: none;
}


/* react-datepicker */
.react-datepicker{
    border: 3px solid #D0CCC6;
    box-sizing: border-box;
    background-color: #F8F6F1;
    border-radius: 10px;
}

.react-datepicker__header{
    background-color: unset;
    border-bottom: unset;
}

.react-datepicker__day-name{
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0.166rem 0.46rem 0.7rem;
}

.react-datepicker__day{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.22px;
    color: #8F8F8F;
    margin: 6px 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover{
    background: #239C6D;
    color: #fff;
    border-radius: 50%;
}

.react-datepicker__day--selected{
    background: #239C6D;
    color: #fff;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover{
    border-radius: 50%;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
    background: #239C6D;
    color: #fff;
}

.react-datepicker__month{
    margin: 0 1rem 1rem;
}

.react-datepicker__header{
    padding-top: 22px;
}

.react-datepicker__current-month{
    margin-bottom: 12px;
}

.react-datepicker__navigation--previous {
    left: 18px;
    top: 26px;
}

.react-datepicker__navigation--next {
    right: 18px;
    top: 26px;
}

.padding-container {
  padding: 0px 15px 0px 15px;
}

@media (min-width: 768px) {
  .padding-container {
    padding: 0 2.5%;
  }
}

@media (min-width: 1280px) {
  .padding-container {
    padding: 0 16px;
  }
}


@media (max-width: 640px) {
  .sm-max-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .md-max-hidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  .lg-max-hidden {
    display: none;
  }
}

@media (max-width: 1280px) {
  .xl-max-hidden {
    display: none;
  }
}

@media (max-width: 1536px) {
  .xl2-max-hidden {
    display: none;
  }
}

@font-face {
  font-family: 'Cooper';
  font-style: 'sans serif';
  font-weight: 600;
  src: url('../../fonts/CooperBoldBT.ttf'); /* IE9 Compat Modes */
  src: local('Cooper Lt BT Bold'), local('Cooper Lt Bt Bold'),
       url('../../fonts/CooperBoldBT.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/CooperBoldBT.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/CooperBoldBT.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/CooperBoldBT.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/CooperBoldBT.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Cooper';
  font-style: 'sans serif';
  font-weight: 400;
  src: url('../../fonts/CooperLightBT.ttf'); /* IE9 Compat Modes */
  src: local('Cooper Lt BT Light'), local('Cooper Lt Bt Light'),
       url('../../fonts/CooperLightBT.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/CooperLightBT.ttf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/CooperLightBT.ttf') format('truetype'), /* Modern Browsers */
       url('../../fonts/CooperLightBT.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/CooperLightBT.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Recoleta';
  font-style: 'sans serif';
  font-weight: 600;
  src: url('../../fonts/RecoletaAltBold.otf'); /* IE9 Compat Modes */ 
  src: local('Recoleta Alt Bold'), local('Recoleta Alt Bold'),
       url('../../fonts/RecoletaAltBold.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/RecoletaAltBold.otf') format('truetype'), /* Super Modern Browsers */
       url('../../fonts/RecoletaAltBold.otf') format('truetype'), /* Modern Browsers */
       url('../../fonts/RecoletaAltBold.otf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/RecoletaAltBold.otf') format('svg'); /* Legacy iOS */
}
/* css animations for loaders */

.loaderClass {
  animation: loader 1s infinite ease-in-out;
  -webkit-animation: loader 1s infinite ease-in-out;
}
.customContainer{
  max-width: 1280px;
  margin: 0 auto;
}
.webkitFillAvalible{
  width: -webkit-fill-available;
}

/* Onboarding UI Update */

.page-content {
  display: flex;
  justify-content: center;
}

.page-routing {
  max-width: 1440px;
  width: 100%;
}

.onboarding-continue {
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
  height: 75px;
}

select.w-full{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 4px;
  margin-top: 10px;
}
nav{
  max-width: 1440px;
  width: 100%;
}
.foodCardDesc{
  min-height: 100px;
}
