/* This css is for normalizing styles. You can skip this. */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-group {
  display: block;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #848484;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 5.9px;
    width: 5px;
    height: 10px;
    border: solid #848484;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.close-icon::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: 14px;
  right: -5px;
  border-radius: 2px;
  transform: rotate(45deg);
  display: block;
}

.close-icon.dark::before {
  background-color: black;
}

.close-icon::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: 12px;
  right: -5px;
  border-radius: 2px;
  transform: rotate(-45deg);
  display: block;
}

.close-icon.dark::after {
  background-color: black;
}
